/*adjust styles to elements*/
.background-colour-primary{
  background-color: darkolivegreen ;
}

.navbar{
  position: sticky;
  z-index: 1;
}

.btn{
  background-color:#fff;
}

.btn-outline{
  background-color: transparent;
  border: 1px burlywood solid;
}

a span{
  background: #fff;
  color: #333;
  padding: 0.1rem 0,45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
  align-items: center;
}
