<div class="landing-content text-center bg-gradient background-primary">
  <h1>New Movies</h1>
  <div class="container">
      <div class="info-bar grid">
          <div class="grid">
              <p>
                 Now Available
              </p>
              <div class="card">
                  <header>Joana Wicker 4</header>
                  <img src="./assets/icons/watching-a-movie.png" alt="moive cover">
              </div>
          </div>
          <div class="grid">
              <p>
                  Now Available
              </p>
              <div class="card">
                  <header>Gardeners of the Galaxies 3</header>
                  <img src="./assets/icons/watching-a-movie.png" alt="movie cover">
              </div>
          </div>
          <div class="grid">
              <p>
                  Now Available
              </p>
              <div class="card">
                 <header>Faster than before</header>
                  <img src="./assets/icons/watching-a-movie.png" alt="movie cover">
              </div>
          </div>
     </div>
  </div>
</div>
<div class="our-service">
  <div class="container">
      <div class="info text-center">
          <p>
              Simple registration, select movie to purchase or rent, stream to device
          </p>
      </div>
      <div class="flex">
          <div class="register">
              <div class="grid-2">
                  <div>
                      <img src="./assets/icons/sign-up.png" alt="sign-up icon">
                  </div>
                  <div>
                      <h2>Register</h2>
                  </div>
              </div>
          </div>
          <div class="order">
              <div class="grid-2">
                  <div>
                      <img src="./assets/icons/choose.png" alt="order icon">
                  </div>
                  <div>
                      <h2>Select Movie</h2>
                  </div>
              </div>
          </div>
          <div class="collect">
              <div class="grid-2">
                  <div>
                     <img src="./assets/icons/stream.png" alt="shop icon">
                  </div>
                  <div>
                      <h2>Stream</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
