<div class = "main-content text-center background-primary">
  <div class="container flex">
    <div class="card">
      <h4>User Menu</h4>
      <a routerLink="user/menu"><img src="./assets/icons/user.png" alt="outline of user body image"></a>
    </div>
    <div class="card">
      <h4>Movie Menu</h4>
      <a routerLink="movie/menu"><img src="./assets/icons/watching-a-movie.png" alt="movie image"></a>
    </div>
  </div>
  <div class="admin-news text-center">
    <p>Latest info</p>

  </div>
</div>

