<footer class="footer background-primary bg-gradient">
  <div class="container">
      <div class="socials flex">
          <div class="facebook-icon">
              <a href = ""><img src="./assets/icons/facebook.png" alt="facebook"></a>
          </div>
          <div class="instagram-icon">
              <a href=""><img src="./assets/icons/instagram.png" alt="instagram"></a>
          </div>
          <div class="twitter-icon">
              <a href = ""><img src="./assets/icons/twitter.png" alt="twiiter"></a>
          </div>
      </div>
  </div>
</footer>
